$primary: #fe5e01;
$secondary: #9c0000;
$tertiary: #ffcbae;
$textPrimary:#dc4100;
$alternate:#ff9900;
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
// #fe5e01 #dc4100 #bc2000 #9c0000 #7e0000 #630000
// #fe5e01 #ff7c3a #ff9761 #ffb188 #ffcbae #ffe5d6

